.header-custom {
  --background: #95a6b1;
  color: white;
}

.titulo {
  font-size: 22px;
  text-align: left;
}

.cardTitle {
  font-weight: bold;
  font-size: 17px;
}

.descripcion {
  font-size: 15px;
  margin-bottom: 6px;
}

.horas {
  font-size: 14px;
  color: var(--ion-color-medium);
  margin-bottom: 16px;
}

ion-card:last-of-type {
  margin-bottom: 100px;
}

ion-button {
  margin-top: 10px;
}

.firma {
  font-weight: normal;
  font-size: 14px;
  margin-left: 6px;
}