<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-toolbar color="tertiary">
          <ion-buttons slot="start">
            <ion-back-button color="primary" mode="md" defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
      <ion-col size="10">
        <ion-title>Actualización Contactos</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="backgroundContent ion-padding">
  <ion-card class="ion-no-margin" *ngFor="let c of contacts">
    <ion-card-header>
      <div class="header-wrapper">
        <div class="title">
          <ion-item lines="none"> {{ getContactName(c) }} </ion-item>
          <ion-item lines="none" class="role">{{ c.strPapelRespresentacion }}</ion-item>
        </div>
        <ion-icon [attr.name]="c.__expanded ? 'chevron-up-outline' : 'chevron-down-outline'" (click)="c.__expanded = !c.__expanded">
        </ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content>
      <ng-container *ngIf="c.__expanded">
        <ion-item lines="none"> {{ c.strSiglaTipoDoc }} {{ c.strNumeroDocumento }} </ion-item>
        <ion-item lines="none"> {{ c.strSexo }} </ion-item>
        <ion-item lines="none"> {{ c.strCelular }} </ion-item>
        <ion-item lines="none"> {{ c.strTelefono }} </ion-item>
        <ion-item lines="none"> {{ c.strEmail }} </ion-item>
      </ng-container>

      <ion-item lines="none">
        <ion-button fill="clear" slot="start" (click)="edit(c.strNumeroDocumento)">Editar</ion-button>
        <ion-button fill="clear" slot="end" (click)="remove(c)">Eliminar</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab class="ion-padding" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
