ion-header {
  ion-grid {
    padding: 0px;
    background: #95a6b1;
    color: white;
    ion-row {
      ion-col {
        padding: 0px;
        background: #95a6b1;
      }
      ion-toolbar {
        padding: 0px;
      }
    }
  }
}

.titulo {
  width: 100% !important;
  font-size: 25px !important;
  text-align: left;
  padding: 0px;
  padding-top: 10px;
}
