<ion-header>
  <ion-toolbar>
    <div class="title">Solicitud Actualización Sede Principal Empresa</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="preview()" *ngIf="formGroup">
    <ion-card class="ion-margin">
      <ion-card-content>
        <ion-list lines="none">
          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Tipo de vía</ion-label>
            <ion-select mode="ios" interface="action-sheet" cancelText="CANCELAR" formControlName="tipoVia">
              <ion-select-option [value]="t" *ngFor="let t of tiposVia"> {{ t.strDescripcionCatologo }} </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Nombre o número de vía</ion-label>
            <ion-input formControlName="numeroVia"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Nomenclatura Principal</ion-label>
            <ion-input formControlName="nomenclaturaPrincipal"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Prefijo (BIS)</ion-label>
            <ion-input formControlName="prefijo"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Letra - Número que acompaña prefijo</ion-label>
            <ion-input formControlName="letraPrefijo"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Cuadrante</ion-label>
            <ion-select mode="ios" interface="action-sheet" cancelText="CANCELAR" formControlName="cuadrante">
              <ion-select-option [value]="t" *ngFor="let t of tiposCuadrante"> {{ t.strDescripcionCatologo }} </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Número Vía Generadora</ion-label>
            <ion-input type="number" formControlName="viaGeneradora"></ion-input>
            <p class="invalid-feedback" *ngIf="formGroup.controls.viaGeneradora.hasError('pattern')">Vía Generadora es inválida.</p>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Letra que acompaña la vía generadora</ion-label>
            <ion-input formControlName="letraVia"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Sufijo (BIS)</ion-label>
            <ion-input formControlName="sufijo"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Letra - Número que acompaña sufijo</ion-label>
            <ion-input formControlName="letraSufijo"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Número de placa</ion-label>
            <ion-input type="number" formControlName="numeroPlaca"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom bold" (click)="showComplemento = !showComplemento">
            <ion-icon slot="start" [attr.name]="showComplemento ? 'remove-circle-outline': 'add-circle-outline'"> </ion-icon>
            <ion-label>Complemento Dirección</ion-label>
          </ion-item>

          <ng-container *ngIf="showComplemento">
            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Complemento</ion-label>
              <ion-select mode="ios" interface="action-sheet" cancelText="CANCELAR" formControlName="complemento">
                <ion-select-option [value]="c" *ngFor="let c of complementos"> {{ c.strDescripcionCatologo }} </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Barrio</ion-label>
              <ion-select mode="ios" interface="action-sheet" cancelText="CANCELAR" formControlName="barrio">
                <ion-select-option [value]="t" *ngFor="let t of tiposBarrio"> {{ t.strDescripcionCatologo }} </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Nombre Barrio</ion-label>
              <ion-input formControlName="nombreBarrio"></ion-input>
            </ion-item>

            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Urbanización</ion-label>
              <ion-select mode="ios" interface="action-sheet" cancelText="CANCELAR" formControlName="urbanizacion">
                <ion-select-option [value]="t" *ngFor="let t of tiposUrbanizacion"> {{ t.strDescripcionCatologo }} </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Nombre Urbanización</ion-label>
              <ion-input formControlName="nombreUrbanizacion"></ion-input>
            </ion-item>

            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Manzana</ion-label>
              <ion-select mode="ios" interface="action-sheet" cancelText="CANCELAR" formControlName="manzana">
                <ion-select-option [value]="t" *ngFor="let t of tiposManzana"> {{ t.strDescripcionCatologo }} </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Nombre Manzana</ion-label>
              <ion-input formControlName="nombreManzana"></ion-input>
            </ion-item>

            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Vereda</ion-label>
              <ion-input formControlName="vereda"></ion-input>
            </ion-item>

            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Corregimiento</ion-label>
              <ion-input formControlName="corregimiento"></ion-input>
            </ion-item>

            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Tipo de Predio</ion-label>
              <ion-select mode="ios" interface="action-sheet" cancelText="CANCELAR" formControlName="tipoPredio">
                <ion-select-option [value]="t" *ngFor="let t of tiposPredio"> {{ t.strDescripcionCatologo }} </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">Nombre de Predio</ion-label>
              <ion-input formControlName="nombrePredio"></ion-input>
            </ion-item>
          </ng-container>
        </ion-list>

        <div class="actions-wrapper ion-margin-top">
          <ion-button color="light" (click)="cancel()">Cancelar</ion-button>
          <ion-button type="submit" color="primary">Actualizar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
