.toolbar-container{
  padding: 0px !important;
}

ion-col{
  margin-top: 20px;
  & .titulo{
    margin-left: 10px;
    color: white;;
  }
}

.colUuid{
  margin-top:-5px !important;
  color: white;
}

