<ion-header class="ion-no-border ion-no-padding">
  <ion-toolbar style="padding-top: 0px">
    <div>
      <ion-grid class="header">
        <ion-row>
          <ion-col>
            <ion-icon name="person-outline" slot=""></ion-icon>
            <ion-label class="titulo" *ngIf="nameUserRegister">{{ nameUserRegister }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="colUuid">
            <ion-icon name="phone-portrait-outline"></ion-icon>
            <ion-label style="font-size: 15px; margin-left: 10px">{{ deviceUUID }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>
