<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-grid>
      <ion-row style="align-items: center;">
        <ion-col size="2">
          <!-- Botón de regreso -->
          <ion-back-button defaultHref="" text="" (click)="regresar()" class="custom-back-button"
            color="primary"></ion-back-button>
        </ion-col>
        <ion-col size="10">
          <!-- Título -->
          <ion-title class="titulo">Reenviar código de verificación</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding backgroundContent">
  <!-- <ion-searchbar *ngIf="listaResponsables.length > 0" animated debounce="250"  color="primary" placeholder="Buscar" (ionChange)="search($event)"></ion-searchbar> -->

  <ion-slides mode="ios" *ngIf="responsableList.length === 0 || undefined; else responsables">
    <!-- <ion-slides mode="ios" *ngIf="showListPendingVisit"> -->
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="ion-text-center">
              <img src="../../../assets/icon/icono_observaciones.svg" alt="" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <strong>
              <p class="tituloSlide">
                No tienes actividades migradas, por ende, no existe una lista de responsables para reenvíar el código de
                verificación
              </p>
            </strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <ng-template #responsables>
    <ion-list class="mb-4">
      <ion-row class="ion-margin-bottom" *ngFor="let company of responsableList; let i = index">
        <ion-col size="12">
          <div class="ion-text-center">
            <div class="bold">Nombre Empresa</div>
            <div>{{company.empresaInfo.nameEmpresa}}</div>
          </div>
          <div class="ion-text-center">
            <div class="bold">Documento Identificación</div>
            <div>{{company.empresaInfo.docEmpresa}}</div>
          </div>
        </ion-col>
        <ion-col size="12" *ngFor="let resp of company.responsables; let j = index">
          <ion-card mode="ios">
            <ion-card-content mode="ios">
              <ion-list>
                <ion-item lines="none">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-label><strong>Nombre</strong></ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <p><small>{{resp.element.Nombre}}</small></p>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <ion-label><strong>Correo</strong></ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12">
                        <p><small>{{resp.element.correo}}</small></p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                <ion-item lines="none">
                  <ion-label><strong>Seleccionar Correo</strong></ion-label>
                  <ion-checkbox slot="end" color="primary" (click)="selectResponsible(resp)"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
  </ng-template>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-buttons *ngIf="responsablesSeleccionados.length >= 1" slot="end">
      <ion-button color="primary" expand="block" (click)="resendCode()">
        <ion-label>Reenvíar código</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>