ion-content {
  ion-list {
    background: none;
    ion-item {
      --background: none;
    }
  }
}

.label-stacked {
  &.sc-ion-label-md-h {
    transform: none;
  }
}

ion-list {
  padding-left: var(--ion-padding, 16px);
  padding-right: var(--ion-padding, 16px);
}

.ionDateTimeStart {
  padding: 0px !important;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.mat-form-field-appearance-fill {
  background: transparent !important;
}

.mat-form-field-flex {
  background: transparent !important;
}
