ion-button {
  --border-radius: 50px;
}

.firma {
  border-top: 1px solid #95a6b1;
  margin-right: 30px;
  margin-left: 30px;
  font-weight: bold;
  color: gray;
  font: unset;
  font-size: 15px;
  padding-top: 5px;
}

h3 {
  text-align: center;
}
