<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-toolbar color="tertiary">
          <ion-buttons slot="start">
            <ion-back-button color="primary" mode="md" defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
      <ion-col size="10">
        <ion-title class="titulo">Registro Manual</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding backgroundContent">
  <div class="ion-text-center">
    <ion-label class="tituloEvento" *ngIf="nombreEvento">{{nombreEvento}}</ion-label>
  </div>

  <form [formGroup]="formConsultUser" class="formulario">
    <div class="ion-text-center divTitulo">
      <ion-item lines="none" mode="ios">
        <ion-icon name="business" color="primary" slot="start"></ion-icon>
        <ion-label>Datos Empresa</ion-label>
      </ion-item>
    </div>
    <ion-item lines="none">
      <ion-label position="stacked">Tipo de identificación</ion-label>
      <ion-select
        formControlName="identificationTypeCompany"
        placeholder="Tipo de identificación"
        class="bg-light mt-3 rounded pl-1 pr-1"
        mode="ios"
        interface="action-sheet"
        cancelText="CANCELAR"
        placeholder="Tipo identificación"
      >
        <ion-select-option *ngFor="let type of documentsType" [value]="type.SiglaDocumento">{{type.strTipoDocumento}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Número identificación</ion-label>
      <ion-input
        formControlName="identificationNumberCompany"
        placeholder="Número de identificación"
        mode="ios"
        interface="action-sheet"
        cancelText="CANCELAR"
        class="bg-light mt-3 rounded pl-1 pr-1"
      ></ion-input>
    </ion-item>

    <div class="ion-text-center divTitulo">
      <ion-item lines="none" mode="ios">
        <ion-icon name="person" color="primary" slot="start"></ion-icon>
        <ion-label>Datos Asistente</ion-label>
      </ion-item>
    </div>
    <ion-item lines="none">
      <ion-label position="stacked">Tipo de identificación</ion-label>
      <ion-select
        formControlName="identificationTypeUser"
        class="bg-light mt-3 rounded pl-1 pr-1"
        mode="ios"
        interface="action-sheet"
        cancelText="CANCELAR"
        placeholder="Tipo identificación"
      >
        <ion-select-option *ngFor="let type of documentsType" [value]="type.SiglaDocumento">{{type.strTipoDocumento}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Número identificación</ion-label>
      <ion-input
        formControlName="identificationNumberUser"
        placeholder="Número de identificación"
        mode="ios"
        interface="action-sheet"
        cancelText="CANCELAR"
        class="bg-light mt-3 rounded pl-1 pr-1"
      ></ion-input>
    </ion-item>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button (click)="search()" mode="ios" class="btn" expand="block"> Consultar </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" color="secondary" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="qr-code-outline" (click)="openScanQr()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
