ion-header {
  ion-grid {
    padding: 0px;
    background: #95a6b1;
    color: white;
    ion-row {
      ion-col {
        padding: 0px;
        background: #95a6b1;
      }
      ion-toolbar {
        padding: 0px;
      }
    }
  }
}

ion-content {
  form {
    margin-top: 30px;
    ion-list {
      border-radius: 20px;
      border: 1px solid #95a6b1;
      padding: 5px;
    }
  }
}

.ionthumbnail {
  margin-right: -10px;
}

.imgMunicipio {
  width: 33px;
  height: 33px;
}

.item {
  height: 35px;
}

.titulo {
  width: 100% !important;
  font-size: 25px !important;
  text-align: left;
  padding: 0px;
  padding-top: 10px;
}

ion-label {
  font-size: 20px !important;
  font-weight: bold;
}

.mat-form-field {
  width: 100% !important;
}
