ion-header {
  & ion-toolbar {
    padding: 10px;
    --background: var(--ion-color-medium);
    --color: var(--ion-color-medium-contrast);

    & .title {
      text-overflow: initial;
      white-space: break-spaces;
      text-align: center;
      font-size: 1.3rem;
    }
  }
}

ion-content {
  & ion-card {
    & ion-list {
      padding: 0;
      background-color: transparent;

      & ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --background: inherit;
        --highlight-height: 0;
        --background: transparent;

        &.item-interactive-disabled {
          & ion-input {
            --background: var(--ion-color-medium);
            --color: var(--ion-color-medium-contrast);
          }

          & ion-select {
            background-color: var(--ion-color-medium);
            color: var(--ion-color-medium-contrast);
          }
        }

        & ion-label {
          opacity: 1;
          transform: translateY(0) scale(1);
          white-space: break-spaces;
        }

        & ion-input {
          & ::ng-deep {
            & .native-input {
              opacity: 1;
            }
          }
        }

        & ion-select {
          &.select-disabled {
            opacity: 1;
          }
        }

        & ion-input,
        & ion-select {
          border-radius: 5px;
          border: 1px solid var(--ion-color-dark);
          --padding-start: 1rem;
          --padding-end: 1rem;
        }

        & ion-radio-group {
          display: flex;
          width: 100%;
          justify-content: space-around;

          & ion-radio {
            &.radio-disabled {
              opacity: 1;
            }
          }
        }
      }

      & .section-title {
        font-size: 1.2rem;
        text-align: center;
        color: var(--ion-color-primary);
        margin: 2rem 0;
        font-weight: bold;
      }
    }

    & .actions-wrapper {
      display: flex;
      justify-content: space-around;
    }
  }
}
