<ion-content>
  <form [formGroup]="formDateSpecific" *ngIf="formDateSpecific">
    <ion-list lines="none">
      <!-- Fecha -->
      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <strong><label class="d-block">Fecha de asesoría específica</label></strong>
      </ion-item>
      <ion-datetime
        placeholder="DD MMMM YYYY"
        display-format="DD MMM YYYY"
        monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
        color="primary"
        formControlName="startTodaySecific"
        mode="ios"
        disabled
        *ngIf="showStartTodaySpecificAdvice"
        class="ionDateTimeStart"
        cancelText="Cancelar"
      >
      </ion-datetime>

      <ion-button expand="block" color="primary" [disabled]="disabledBtnDateStart" (click)="startTodaySpecific()">
        INICIAR HOY ASESORIA ESPECIFICA
      </ion-button>

      <!-- Hora Inicio Omar -->
      <ion-item lines="none" class="mt-3">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <strong>
          <ion-label>Hora de Inicio</ion-label>
        </strong>
      </ion-item>
      <ion-datetime
        (ionChange)="changeHourStar($event)"
        placeholder="Hora Inicial"
        displayFormat="hh:mm A"
        cancelText="CANCELAR"
        doneText="ACEPTAR"
        mode="ios"
        formControlName="startHour"
        class="ionDateTimeStart"
      >
      </ion-datetime>

      <ion-item class="mt-3">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <strong>
          <ion-label>Hora Finalización</ion-label>
        </strong>
      </ion-item>
      <ion-datetime
        [disabled]="!customStartDate"
        placeholder="Hora Final"
        cancelText="CANCELAR"
        doneText="ACEPTAR"
        mode="ios"
        class="ionDateTimeStart"
        formControlName="endHour"
        (ionChange)="changeHourEnd($event)"
        displayFormat="hh:mm A"
      ></ion-datetime>

      <!-- Contador de horas totales -->
      <ion-item class="mt-3">
        <strong>
          <ion-label *ngIf="!totalHours">Horas totales: 0</ion-label>
        </strong>
        <strong>
          <ion-label *ngIf="totalHours">Horas totales: {{ totalHours }}</ion-label>
        </strong>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
