<ion-content>
  <form [formGroup]="formDateSpecific" *ngIf="formDateSpecific">
    <ion-list lines="none">
      <!-- Fecha -->
      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <strong><label class="d-block">Fecha de asesoría específica</label></strong>
      </ion-item>

      <div *ngIf="showDateButton" class="ion-margin-bottom">
        <ion-datetime-button disabled datetime="startTodaySecific"></ion-datetime-button>
      </div>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="startTodaySecific"
            placeholder="DD MMMM YYYY"
            presentation="date"
            display-format="DD MMM YYYY"
            monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
            color="primary"
            formControlName="startTodaySecific"
            mode="ios"
            class="ionDateTimeStart"
            cancelText="Cancelar"
          >
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-button
        expand="block"
        color="primary"
        [disabled]="disabledBtnDateStart"
        (click)="startTodaySpecific()"
        datetime="startTodaySecific"
      >
        INICIAR HOY ASESORIA ESPECIFICA
      </ion-button>

      <!-- Hora Inicio -->
      <ion-item *ngIf="showDateButton">
        <ion-icon name="time-outline" slot="start" size="large"></ion-icon>
        <ion-label>
          <strong>Hora inicial:</strong>
        </ion-label>

        <ion-datetime-button datetime="startHour"></ion-datetime-button>
      </ion-item>

      <ion-modal keepContentsMounted="true">
        <ng-template>
          <ion-datetime
            id="startHour"
            presentation="time"
            preferWheel="true"
            [value]="customStartDateISO"
            minuteValues="0,10,20,30,40,50"
            [showDefaultButtons]="true"
            cancelText="Cancelar"
            doneText="Aceptar"
            (ionChange)="changeHourStar($event)"
          >
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <!-- Hora Final -->
      <ion-item *ngIf="showDateButton && customStartDate">
        <ion-icon name="time-outline" slot="start" size="large"></ion-icon>
        <ion-label>
          <strong>Hora final:</strong>
        </ion-label>

        <ion-datetime-button datetime="endHour"></ion-datetime-button>
      </ion-item>

      <ion-modal keepContentsMounted="true">
        <ng-template>
          <ion-datetime
            id="endHour"
            presentation="time"
            preferWheel="true"
            [value]="customEndDate"
            [min]="minEndHour"
            minuteValues="0,10,20,30,40,50"
            [showDefaultButtons]="true"
            cancelText="Cancelar"
            doneText="Aceptar"
            (ionChange)="changeHourEnd($event)"
          >
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <!-- Contador de horas totales -->
      <ion-item *ngIf="showDateButton && customStartDate && customEndDate" class="mt-3">
        <strong>
          <ion-label *ngIf="!totalHours">Horas totales: 0</ion-label>
        </strong>
        <strong>
          <ion-label *ngIf="totalHours">Horas totales: {{ totalHours }}</ion-label>
        </strong>
      </ion-item>
    </ion-list>
  </form>
  <div class="text-center ion-margin"></div>
</ion-content>
