<ion-content>
  <form [formGroup]="formDateSpecific" *ngIf="formDateSpecific">
    <ion-list lines="none">
      <!-- Fecha -->
      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <strong><label class="d-block">Fecha de asesoría específica</label></strong>
      </ion-item>

      <!-- <ion-datetime-button datetime="startTodaySecific"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
          id="startTodaySecific"
          placeholder="DD MMMM YYYY"
          display-format="DD MMM YYYY"
          monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" 
          color="primary"
          formControlName="startTodaySecific"
          mode="ios"
          disabled *ngIf="showStartTodaySpecificAdvice"
          class="ionDateTimeStart"
          cancelText="Cancelar">
          </ion-datetime>
        </ng-template>
      </ion-modal> -->

      <div *ngIf="showDateButton" class="ion-margin-bottom">
        <ion-datetime-button datetime="startTodaySecific"></ion-datetime-button>
      </div>
      
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="startTodaySecific"
            placeholder="DD MMMM YYYY"
            presentation="date"
            display-format="DD MMM YYYY"
            monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" 
            color="primary"
            formControlName="startTodaySecific"
            mode="ios"
            [disabled]="showStartTodaySpecificAdvice"
            class="ionDateTimeStart"
            cancelText="Cancelar">
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-button
          expand="block"
          color="primary"
          [disabled]="disabledBtnDateStart"
          (click)="startTodaySpecific()"
          datetime="startTodaySecific">
        INICIAR HOY ASESORIA ESPECIFICA
      </ion-button>

      <!-- Hora Inicio Omar -->
      <ion-item lines="none" class="mt-3">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <strong>
          <ion-label>Hora de Inicio</ion-label>
        </strong>
      </ion-item>
      <!-- <ion-datetime-button
        (ionChange)="changeHourStar($event)"
        placeholder="Hora Inicial"
        displayFormat="hh:mm A"
        cancelText="CANCELAR"
        doneText="ACEPTAR"
        mode="ios"
        formControlName="startHour"
        class="ionDateTimeStart"
      >
      </ion-datetime-button> -->

      <ion-datetime-button datetime="startHour"></ion-datetime-button>

      <!-- El ion-datetime se conecta mediante el ID -->
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
          id="startHour" 
          (ionChange)="changeHourStar($event)" 
          placeholder="Hora Inicial"
          presentation="time"
          [showDefaultButtons]="true"
          cancelText="Cancelar" 
          doneText="Aceptar" 
          mode="ios"
          formControlName="startHour"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item class="mt-3">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <strong>
          <ion-label>Hora Finalización</ion-label>
        </strong>
      </ion-item>
      <!-- <ion-datetime-button
        [disabled]="!customStartDate"
        placeholder="Hora Final"
        cancelText="CANCELAR"
        doneText="ACEPTAR"
        mode="ios"
        class="ionDateTimeStart"
        formControlName="endHour"
        (ionChange)="changeHourEnd($event)"
        displayFormat="hh:mm A"
      ></ion-datetime-button> -->

      <ion-datetime-button datetime="endHour"></ion-datetime-button> 

      <!-- El ion-datetime para la hora final -->
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
          id="endHour" 
          [disabled]="!customStartDate" 
          (ionChange)="changeHourEnd($event)" 
          placeholder="Hora Final" 
          presentation="time" 
          [showDefaultButtons]="true"
          cancelText="Cancelar" 
          doneText="Aceptar" 
          mode="ios"
          formControlName="endHour"></ion-datetime>
        </ng-template>
      </ion-modal>

      <!-- Contador de horas totales -->
      <ion-item class="mt-3">
        <strong>
          <ion-label *ngIf="!totalHours">Horas totales: 0</ion-label>
        </strong>
        <strong>
          <ion-label *ngIf="totalHours">Horas totales: {{ totalHours }}</ion-label>
        </strong>
      </ion-item>
    </ion-list>
  </form>
  <div class="text-center ion-margin">
  </div>
</ion-content>
