ion-content {
  ion-slides {
    margin-top: 110px;
    ion-slide {
      ion-card {
        ion-card-header {
          padding: 0px;
        }
      }
      ion-fab {
        transform: translate(8px, -30px);
        outline: none;
        ion-fab-button {
          transform: rotate(180deg);
          --background: none;
          --box-shadow: none;
        }
      }
    }
  }
}

.imgTop {
  margin-top: 50px;
}

.titulo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.labelProducto {
  transform: translate(10px, 80px);
  font-size: 11px;
}

.imgFooter {
  width: 58%;
  margin-top: 60px;
}
