ion-header {
  & ion-grid {
    padding: 0px;
    background: #95a6b1;
    color: white;

    & ion-row {
      & ion-col {
        padding: 0px;
        background: #95a6b1;

        & .titulo {
          font-size: 1rem;
          padding: 0px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      & ion-toolbar {
        padding: 0px;
      }
    }
  }
}

ion-content {
  & ion-card {
    & ion-card-header {
      & ion-card-title {
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        color: inherit;
      }
    }

    & ion-card-content {
      & .follow-up-text {
        height: 300px;
        overflow: scroll;
        border-radius: 0.5rem;
        border: 1px solid var(--ion-color-tertiary-shade);
        padding: 10px;
      }

      & .implementation-options {
        display: flex;
        justify-content: space-around;
      }

      & .implementation-date {
        & ion-label {
          &[position='fixed'] {
            font-size: 0.7rem;
            width: auto;
            flex: 0 0 auto;
          }
        }
      }

      & .implemetation-efficiency {
        &.item-interactive-disabled {
          & ion-label {
            cursor: default;
            opacity: 0.3;
            pointer-events: none;
          }
        }

        & ion-label {
          min-width: fit-content;
        }

        & ion-radio-group {
          display: flex;

          & ion-item {
            --padding-start: 0.5rem;

            & ion-radio {
              margin-right: 0.7rem;
            }
          }
        }
      }

      & .implementation-causes {
        & ion-textarea {
          margin-top: 1rem;
          border: 1px solid var(--ion-color-tertiary-shade);
          border-radius: 0.5rem;
          --padding-start: 0.5rem;
          --padding-end: 0.5rem;
          --padding-top: 0.5rem;
          --padding-bottom: 0.5rem;
        }
      }

      & .attachment-name {
        & ion-label {
          margin-bottom: 1rem;
        }

        & ion-input {
          border-radius: 0.5rem;
          --padding-top: 8px;
          --padding-bottom: 8px;
          --padding-start: 8px;
          --padding-end: 8px;
          border: 1px solid var(--ion-color-tertiary-shade);
        }
      }

      & .save-button {
        text-align: right;
        margin-top: 1rem;

        & ion-button {
          --background: transparent;
          --box-shadow: none;
          --color: var(--ion-color-primary);
        }
      }
    }
  }
}
