ion-header {
  ion-grid {
    padding: 0px;
    background: #95a6b1;
    color: white;
    ion-row {
      ion-col {
        padding: 0px;
        background: #95a6b1;
        ion-item {
          width: 100%;
        }
      }
      ion-toolbar {
        padding: 0px;
      }
    }
  }
}

ion-card-content {
  ion-grid {
    ion-row {
      ion-col {
        padding: 0px;
        ion-item {
          width: 100%;
        }
        ion-button {
          --border-radius: 50px;
        }
      }
    }
  }

  ion-icon {
    margin: 0px;
  }
  p {
    font-size: 16px;
  }
}

.label-stacked {
  &.sc-ion-label-md-h {
    transform: none;
  }
}

.no-effects {
  --background-hover: transparent;
  --ripple-color: transparent;
}

ion-fab {
  & ion-button {
    margin-left: -20px;
  }
}

.titulo {
  width: 100% !important;
  font-size: 25px !important;
  padding-top: 10px;
  padding: 0px;
  text-align: left;
  margin-top: 10px;
}

.cardTitle {
  font-weight: bold;
  text-align: justify;
  font-size: 17px;
  width: 100%;
}

ion-content {
  & ion-card {
    &:last-of-type {
      margin-bottom: 100px;
    }
  }
}
