<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-toolbar color="tertiary">
          <ion-buttons slot="start">
            <ion-back-button color="primary" mode="md" defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
      <ion-col size="10">
        <div class="title"><div class="title-wrapper">Solicitud Actualización Empresa</div></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="backgroundContent ion-padding">
  <form [formGroup]="formGroup" *ngIf="formGroup">
    <ion-card class="ion-no-margin" *ngIf="company">
      <ion-card-header>
        <div class="header-wrapper">
          <div class="title">
            <ion-item lines="none">
              <span class="razon-social">{{ company.strRazonSocial }}</span>
            </ion-item>
            <ion-item lines="none">{{ company.str_Sigla_Documento }}: {{ company.strNumeroDcto }}</ion-item>
          </div>
          <ion-icon [attr.name]="showDetails ? 'chevron-up-outline' : 'chevron-down-outline'" (click)="showDetails = !showDetails">
          </ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <div class="field with-help">
            <h4>
              Dirección Empresa Sede Principal
              <ion-button class="tooltip" (click)="showPopover($event, 'direccion')">
                <ion-icon name="help-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </h4>
            {{ company.eDSedesActualizadas.strDireccion }}
          </div>
        </ion-item>

        <ion-item lines="none">
          <div class="field">
            <h4>Indicador de zona</h4>
            {{ company.eDSedesActualizadas.srtIndicadorZona === 'R' ? 'Rural' : 'Urbana' }}
          </div>
        </ion-item>

        <ng-container *ngIf="showDetails">
          <ion-item lines="none">
            <div class="field">
              <h4>Departamento Sede Principal</h4>
              {{ company.eDSedesActualizadas.Nombre_Departamento_Sede }}
            </div>
          </ion-item>

          <ion-item lines="none">
            <div class="field">
              <h4>Municipio Sede Principal</h4>
              {{ company.eDSedesActualizadas.Nombre_Municipio_Sede }}
            </div>
          </ion-item>

          <ion-item lines="none">
            <div class="field with-help">
              <h4>
                Código/A.E. Principal
                <ion-button class="tooltip" (click)="showPopover($event, 'actividad')">
                  <ion-icon name="help-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </h4>
              <span class="codigo-actividad">{{ company.strCodigoActividadEconomica }}</span>
              - {{ company.strActividadEconomicaNombre }}
            </div>
          </ion-item>

          <ion-item lines="none">
            <div class="field with-help">
              <h4>
                Sector Económico
                <ion-button class="tooltip" (click)="showPopover($event, 'sector')">
                  <ion-icon name="help-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </h4>
              {{ company.strDescripcionSectorEconomico }}
            </div>
          </ion-item>

          <ion-item lines="none">
            <div class="field">
              <h4>Celular Contacto</h4>
              {{ company.strCelular }}
            </div>
          </ion-item>

          <ion-item lines="none">
            <div class="field">
              <h4>Teléfono Notificación</h4>
              {{ company.strTelefono }}
            </div>
          </ion-item>

          <ion-item lines="none">
            <div class="field">
              <h4>Correo Notificación</h4>
              <span class="correo-notificacion">{{ company.strCorreoElectronico }}</span>
            </div>
          </ion-item>

          <ion-item lines="none">
            <div class="field">
              <h4>Código Postal</h4>
              {{ company.eDSedesActualizadas.strCodigoPostal }}
            </div>
          </ion-item>

          <ion-item lines="none">
            <div class="field">
              <h4>TD/No. Identificación Representante Legal</h4>
              {{ company.strSiglaRepresentanteLegal }} - {{ company.strNumeroDcto_Representant_Legal }}
            </div>
          </ion-item>

          <ion-item lines="none">
            <div class="field">
              <h4>Nombre Representante Legal</h4>
              {{ company.strNombre_Representant_Legal }}
            </div>
          </ion-item>

          <ion-item lines="none">
            <div class="field">
              <h4>Observaciones</h4>
              <ion-textarea autoGrow="true" readonly="true" [value]="company.stringObservaciones"></ion-textarea>
            </div>
          </ion-item>
        </ng-container>

        <ion-radio-group formControlName="nextPage">
          <ion-item lines="none">
            <ion-label class="radio-label">
              <ion-icon
                class="icon-updated"
                name="checkmark-circle-outline"
                slot="start"
                *ngIf="hasChangedModule('company-data')"
              ></ion-icon>
              Actualizar Datos Empresas
            </ion-label>
            <ion-radio slot="end" value="companyData"></ion-radio>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="radio-label">
              <ion-icon name="checkmark-circle-outline" slot="start" *ngIf="hasChangedModule('contact-data')"></ion-icon>
              Actualizar Personas Contacto
            </ion-label>
            <ion-radio slot="end" value="contactData"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>

    <ion-button class="ion-margin-bottom" expand="block" (click)="confirm()"> Confirmar Datos </ion-button>

    <ion-button class="ion-margin-bottom" expand="block" (click)="nextPage()" *ngIf="!!formGroup.controls.nextPage.value">
      Continuar Proceso
    </ion-button>
  </form>
</ion-content>
