<ion-header class="ion-no-border" [hidden]="scanActive">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="scan-box"></div>

  <ion-grid>
    <ion-row class="ion-text-center" [hidden]="scanActive">
      <ion-col size="12" sizeMd="8" sizeLg="6">
        <ion-button mode="ios" class="btn" color="primary" (click)="startBarcode()">
          <ion-icon slot="start" name="scan"></ion-icon>
          <ion-label>Escanear</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center" *ngIf="result && !scanActive">
      <ion-col size="12" sizeMd="8" sizeLg="6">
        <p class="ion-text-center">{{ result }}</p>
      </ion-col>
    </ion-row>
    <ion-row class="scanner-buttons" [hidden]="!scanActive">
      <ion-col size="12" sizeMd="8" sizeLg="6">
        <ion-button mode="ios" color="secondary" class="btn" (click)="stopBarcodeRemove('')">
          <ion-label>Cancelar</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
