ion-header {
  ion-grid {
    padding: 0;
    background: #95a6b1;
    color: white;

    ion-row {
      ion-col {
        padding: 0;
        background: #95a6b1;
      }

      ion-toolbar {
        padding: 0;
      }
    }
  }
}

.titulo {
  width: 100% !important;
  font-size: 25px !important;
  text-align: left;
  padding: 10px 0 0 0;
}

::ng-deep swiper-container,
::ng-deep swiper-slide {
  height: 100%;
  width: 100%;
}
