ion-header {
  ion-grid {
    padding: 0px;
    background: #95a6b1;
    color: white;
    ion-row {
      ion-col {
        padding: 0px;
        background: #95a6b1;
      }
      ion-toolbar {
        padding: 0px;
      }
    }
  }
}

ion-content {
  ion-item {
    --background: none;
  }
  ion-grid {
    ion-row {
      ion-col {
        padding: 0px;
        ion-button {
          --border-radius: 40px;
        }
      }
    }
  }
  ion-button {
    --border-radius: 50px;
  }
  ion-grid {
    ion-row {
      ion-col {
        & .btnEnviar {
          margin-top: 30px;
        }
      }
    }
  }
}

.full-width-select {
  width: 100%;
  max-width: 100%;
}

.titulo {
  width: 100% !important;
  font-size: 20px !important;
  text-align: left;
  padding: 0px;
  padding-top: 10px;
  margin-top: 10px;
}
