<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-toolbar color="tertiary">
          <ion-buttons slot="start">
            <ion-back-button color="primary" mode="md" defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
      <ion-col size="10">
        <ion-title class="titulo">Encuesta y firma de la empresa</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-text-center">
      <h3>Responsable de la empresa</h3>
    </div>
    <ion-item lines="none">
      <ion-select placeholder="Seleccionar" [(ngModel)]="selectedVal" interface="action-sheet" mode="ios"
        color="primary" class="full-width-select bg-light mt-3 rounded pl-1 pr-1">
        <ion-select-option *ngFor="let responsable of data" class="custom-options" [value]="responsable">
          {{responsable.Nombre}} </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="ion-text-start" *ngIf="selectedVal">
      <h3>Tipo de documento</h3>
    </div>
    <ion-input class="bg-light mt-3 rounded pl-1 pr-1" readonly *ngIf="selectedVal">
      {{selectedVal.tipoDocumentoDescripcion}}</ion-input>

    <div class="ion-text-start" *ngIf="selectedVal">
      <h3>Documento de identificación</h3>
    </div>
    <ion-input class="bg-light mt-3 rounded pl-1 pr-1" readonly *ngIf="selectedVal">{{selectedVal.numeroDocumento}}
    </ion-input>

    <div class="ion-text-start" *ngIf="selectedVal">
      <h3>Correo Electrónico</h3>
    </div>
    <ion-input class="bg-light mt-3 rounded pl-1 pr-1" readonly *ngIf="selectedVal">{{selectedVal.correo}}</ion-input>


    <div class="ion-text-start" *ngIf="selectedVal">
      <h3>Cargo</h3>
    </div>
    <ion-input class="bg-light mt-3 rounded pl-1 pr-1" readonly *ngIf="selectedVal">{{selectedVal.cargo}}</ion-input>
  </div>

  <ng-container *ngIf="selectedVal">
    <div class="ion-padding">
      <ion-list style="background: none;">
        <ion-item lines="none">
          <ion-label class="bold">{{textCheckFirma}} se va a firmar con código QR</ion-label>
          <ion-toggle [disabled]="disabledFirma" (ionChange)="changeOptSignature($event)"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>

    <div class="ion-padding" *ngIf="!showSignature">
      <div class="ion-text-center">
        <h4>Firma responsable de la empresa</h4>
      </div>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
              <ion-button color="tertiary" (click)="verification()" expand="block">
                Ver Acta
              </ion-button>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
              <ion-button expand="block" [disabled]="disabledBtnSignature" (click)="confirmVerificationCode()">
                Firma Acta
              </ion-button>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </div>

    <div class="ion-padding">
      <app-signature-qr (infoEnteredSignatureQR)="getInfoSignatureQR($event)" *ngIf="showSignature"></app-signature-qr>
      <app-signature-without-qr [verificationCodeInput]="verificationCode" [namePersonSignature]="selectedVal"
        (infoSignatureWithoutQR)="getInfoSignatureQR($event)" *ngIf="!showSignature"> </app-signature-without-qr>
    </div>
  </ng-container>
</ion-content>