<app-header></app-header>

<ion-content class="backgroundContent">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let menuOpt of optMenuMain | async; let i = index">
        <ion-card mode="ios" *ngIf="menuOpt.show" (click)="optionSelectedMenu(menuOpt)">
          <div class="vertical-center">
            <div class="center">
              <img [src]="menuOpt.icon" alt="" [class.padding-8]="menuOpt.title === 'Actualizar Datos Empresa'" />
            </div>
          </div>
          <ion-label>
            <h4 class="tituloOpcion">{{menuOpt.title}}</h4>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
