ion-header {
  & ion-col {
    position: relative;

    & ion-back-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    & ion-searchbar {
      --border-radius: 1rem;
    }
  }
}

ion-content {
  & ion-card {
    margin-bottom: 3rem;

    & ion-card-header {
      & .header-wrapper {
        display: flex;

        & .title {
          flex-grow: 1;
          font-weight: bold;

          & ion-item {
            margin-bottom: 0.2rem;
            white-space: normal;
          }
        }

        & ion-icon {
          flex-grow: 0;
          font-size: 1.5rem;
        }
      }
    }

    & ion-item {
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      --inner-padding-bottom: 0;
      --inner-padding-top: 0;
      --background: inherit;
      --color: inherit;
      --min-height: auto;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      & ion-checkbox {
        --border-radius: 50%;
      }

      & ion-button {
        font-size: inherit;
      }

      & .field {
        white-space: normal;
        width: 100%;

        & h4 {
          font-size: inherit;
          font-weight: bold;
        }

        & ion-textarea {
          border-radius: 1rem;
          --background: var(--ion-color-light-shade);
          --color: var(--ion-color-light-contrast);
          --padding-start: 0.7rem;
          --padding-end: 0.7rem;
        }
      }
    }
  }

  & .no-companies-wrapper {
    border: 1px solid #344b56;
    border-radius: 2rem;
    height: 80%;
    position: relative;

    & .message {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;

      & img {
        width: 65%;
      }

      & h3 {
        font-weight: bold;
      }
    }
  }
}
