ion-header {
  ion-grid {
    padding: 0px;
    background: #95a6b1;
    color: white;
    ion-row {
      ion-col {
        padding: 0px;
        background: #95a6b1;
      }
      ion-toolbar {
        padding: 0px;
      }
    }
  }
}

ion-content {
  ion-grid {
    margin-top: 30px;
    ion-row {
      padding: 0px;
      ion-col {
        padding: 0px !important;
        ion-list {
          background: none;
          ion-item {
            margin-bottom: 40px;
            border-radius: 15px;
            font-size: 16.4px;
            font-weight: bold;
            --min-height: 70px;
          }
        }
        & .tituloOpcion {
          text-align: center;
          margin-bottom: 30px;
        }
        & .btnEnviar {
          margin-top: 30px;
        }
      }
    }
  }
}
.titulo {
  width: 100% !important;
  font-size: 25px !important;
  text-align: left;
  padding: 0px;
  padding-top: 10px;
}
.imgMenu {
  width: 100% !important;
  height: 145% !important;
  transform: translateY(-8px);
}
