ion-searchbar {
  --border-radius: 30px;
}

ion-header {
  ion-grid {
    ion-row {
      ion-col {
        ion-toolbar {
          padding: 0px;
          --background: transparent;
        }
      }
    }
  }
}

ion-item {
  margin-bottom: 10px;
  border-radius: 15px;
}

ion-content {
  ion-list {
    margin-bottom: 100px;
    background-color: transparent;
  }
}

::ng-deep swiper-container {
  height: 90%;
  border: 1px solid #344b56;
  border-radius: 50px;
  margin-top: -15px;
}

::ng-deep swiper-slide .titulo {
  margin-top: -30px;
  font-weight: bold;
  color: #344b56;
}

::ng-deep swiper-slide .imgIcono {
  width: auto !important;
  max-width: 65% !important;
  height: auto !important;
  max-height: 65% !important;
}

::ng-deep swiper-slide ion-icon {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}

.labelEnProceso {
  text-align: end !important;
  font-size: 13px !important;
  margin-top: 5px !important;
}

.nombre-modulo {
  color: var(--ion-color-primary);
}

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;

  &::ng-deep .cdk-virtual-scroll-content-wrapper {
    width: 100%;
  }
}

.progress-full-width {
  padding-left: 0;
  padding-right: 0;
}

.progress-row {
  margin-left: 0;
  margin-right: 0;
}

.progress-row ion-col {
  padding-left: 4px;
  padding-right: 4px;
}

.progress-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 4px;
}

.progress-label {
  font-size: 12px;
  opacity: 0.85;
}

.progress-bar-custom {
  width: 100%;
  // --progress-background: #e0e0e0;
  height: 10px;
  border-radius: 6px;
}

.hours {
  font-size: 11px;
  text-align: center;
  opacity: 0.8;
}