<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button mode="md" color="primary" defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
      <ion-col size="10">
        <ion-searchbar animated color="primary" placeholder="Buscar" (ionChange)="search($event)"> </ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Módulo</ion-label>
          <ion-select placeholder="Seleccionar módulo" (ionChange)="searchModulo($event)">
            <ion-select-option value="GEM">Gran Empresa</ion-select-option>
            <ion-select-option value="GMP">Gran MiPyme</ion-select-option>
            <ion-select-option value="GCT">Grandes Cuentas</ion-select-option>
            <ion-select-option value="ASE">Asistencia/Asesoría</ion-select-option>
            <ion-select-option value="INV">Investigación AT</ion-select-option>
            <ion-select-option value="REC">Reclasificación</ion-select-option>
            <ion-select-option value="">Todos</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides mode="ios" *ngIf="listActivity.length == 0">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="ion-text-center">
              <img class="imgIcono" src="../../../assets/icon/icono_observaciones.svg" alt="" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <strong>
              <h3 class="titulo">Recuerde sincronizar las actividades que va a ejecutar aquí.</h3>
            </strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <!-- Esto cuando se este consumiendo el servicio -->

  <cdk-virtual-scroll-viewport itemSize="150" minBufferPx="750" maxBufferPx="1500">
    <ion-list *ngIf="listActivity.length >= 1">
      <ion-item
        color="secondary"
        routerLink="./visit-id"
        *cdkVirtualFor="let activity of listActivity | searchCompanyList: textoBuscar : ['numeroDocumento', 'name']: moduloBuscar; let i = index"
        (click)="companySelected(activity)"
        detail
      >
        <div style="width: 100%">
          <ion-label class="labelEnProceso">En proceso 0 de {{activity.listaActividadesMigradas.length}}</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-label>{{activity.name}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label>{{activity.tipoDocumentoDescripcion}} {{activity.numeroDocumento}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label>Módulo: <span class="nombre-modulo">{{activity.ModuloNombre}}</span></ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>

  <!-- Descargar visitas -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="listActivities()">
      <ion-icon name="cloud-download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
