<!-- src/app/components/login/login.page.html -->
<ion-content class="backgroundContent">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../../assets/logos/logo_alissta.png" alt="" />
      </ion-col>
    </ion-row>

    <!-- Selector de ambiente (solo en dev/test) -->
    <ion-item *ngIf="!isProd">
      <ion-label>Ambiente</ion-label>
      <ion-select [(ngModel)]="selectedIndex" (ionChange)="cambiarAmbiente()">
        <ion-select-option *ngFor="let amb of ambientes; let i = index" [value]="i">
          {{ amb.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col size="12">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-input formControlName="employerID" type="tel" inputmode="numeric"
                    placeholder="Documento empleador"></ion-input>
                </ion-item>
                <div *ngIf="form.controls['employerID'].touched && form.controls['employerID'].invalid" class="mensajeError">
                  Este campo es obligatorio
                </div>
              </ion-col>

              <ion-col size="12">
                <ion-item>
                  <ion-input formControlName="userID" type="tel" inputmode="numeric"
                    placeholder="Documento usuario"></ion-input>
                </ion-item>
                <div *ngIf="form.controls['userID'].touched && form.controls['userID'].invalid" class="mensajeError">
                  Este campo es obligatorio
                </div>
              </ion-col>

              <ion-col size="12">
                <ion-item>
                  <ion-input [type]="'password'" formControlName="password" placeholder="Clave de acceso"></ion-input>
                </ion-item>
                <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="mensajeError">
                  Contraseña inválida
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" type="submit" (click)="submit()">INGRESAR</ion-button>
      </ion-col>

      <ion-col size="12" *ngIf="biometricAvailable">
        <ion-button expand="block" color="secondary" (click)="loginWithBiometric()">
          <ion-icon slot="end" name="finger-print-outline"></ion-icon>
          Ingresar con FaceID/TouchID
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-margin-top">
        <a (click)="forgotPassword()" class="olvidoPassword">¿Olvidó su contraseña?</a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img class="logo" src="../../../../assets/logos/logo_positiva.png" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
