<ion-tabs>
  <ion-tab-bar slot="top" class="color" [class.ion-hide]="!show">
    <!-- Acceso a perfil -->
    <ion-tab-button tab="profile">
      <div class="iconNavbarPerfil"></div>
    </ion-tab-button>

    <!-- Acceso a inicio -->
    <ion-tab-button tab="home">
      <div class="iconNavbarHome"></div>
    </ion-tab-button>

    <!-- Acceso a configuración -->
    <ion-tab-button tab="settings">
      <div class="iconNavbarSettings"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
