/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/** Variables personalizadas **/
@import './variables.scss';

:root {
  --pace-0: #{$pace-0};
  --pace-1: #{$pace-1};
  --pace-2: #{$pace-2};
  --pace-3: #{$pace-3};
  --pace-4: #{$pace-4};
  --pace-5: #{$pace-5};
}

/*
 * Márgenes.
 *
 * Clases:
 * - mt-0, mt-1, mt-2, mt-3, mt-4 y mt-5, para márgenes superiores.
 * - mr-0, mr-1, mr-2, mr-3, mr-4 y mr-5, para márgenes derechos.
 * - mb-0, mb-1, mb-2, mb-3, mb-4 y mb-5, para márgenes inferiores.
 * - ml-0, ml-1, ml-2, ml-3, ml-4 y ml-5, para márgenes izquierdos.
 * - m-0, m-1, m-2, m-3, m-4 y m-5, para todos los márgenes.
*/

@each $slot in $slots {
  $class: str-slice($slot, 1, 1);

  @for $i from 0 through 5 {
    .m#{$class}-#{$i} {
      margin-#{$slot}: var(--pace-#{$i}) !important;
    }
  }
}

@for $i from 0 through 5 {
  .m-#{$i} {
    margin: var(--pace-#{$i}) !important;
  }
}

/*
 * Rellenos.
 *
 * Clases:
 * - pt-0, pt-1, pt-2, pt-3, pt-4 y pt-5, para rellenos superiores.
 * - pr-0, pr-1, pr-2, pr-3, pr-4 y pr-5, para rellenos derechos.
 * - pb-0, pb-1, pb-2, pb-3, pb-4 y pb-5, para rellenos inferiores.
 * - pl-0, pl-1, pl-2, pl-3, pl-4 y pl-5, para rellenos izquierdos.
 * - p-0, p-1, p-2, p-3, p-4 y p-5, para todos los rellenos.
*/

@each $slot in $slots {
  $class: str-slice($slot, 1, 1);

  @for $i from 0 through 5 {
    .p#{$class}-#{$i} {
      padding-#{$slot}: #{$i}rem !important;
    }
  }
}

@for $i from 0 through 5 {
  .p-#{$i} {
    padding: #{$i}rem !important;
  }
}

/*
 * Anchos.
 *
 * Clases:
 * w-25, 25%.
 * w-50, 50%.
 * w-75, 75%.
 * w-100, 100%.
*/

@each $percent in $percents {
  .w-#{$percent} {
    width: #{$percent} + '%' !important;
  }
}

/*
 * Altos.
 *
 * Clases:
 * h-25, 25%.
 * h-50, 50%.
 * h-75, 75%.
 * h-100, 100%.
*/

@each $percent in $percents {
  .h-#{$percent} {
    height: #{$percent} + '%' !important;
  }
}

body {
  &:not([class*='dark']) {
    --ion-background-color: #ffffff;
  }
}

/** Bordes **/

.rounded {
  border-radius: 25px;
  --border-radius: 25px;
}

/** Textos **/

.bold {
  font-weight: bold;
}

.no-wrap {
  white-space: normal !important;
  max-width: none !important;
  width: 100%;
}

.text-center {
  text-align: center;
}

/** Display **/

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
  // nuevo por omar
  margin-bottom: 30px;
}

/** Ubicación **/

.place-left {
  float: left;
}

.place-right {
  float: right;
}

/** Colores de fondo **/

.bg-medium {
  background-color: var(--ion-color-medium);
  color: var(--ion-color-medium-contrast);
}

.bg-light {
  background-color: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
}

/** Colores de textos **/

.color-danger {
  color: var(--ion-color-danger);
}

/** Clearfix **/

.clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

/** Cursores **/

.c-pointer {
  cursor: pointer;
}

/** Eliminar controles de selección para controles de usuario numéricos **/

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/** Mensajes de error de validación **/

.validation-error {
  color: var(--ion-color-danger);
  margin-top: var(--ion-margin, 16px);
  margin-bottom: var(--ion-margin, 16px);

  & ion-icon[slot='start'] {
    @extend .mr-2;
  }

  & ion-icon[slot='end'] {
    @extend .ml-2;
  }
}

/** Íconos personalizados **/

.icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  border-left: 5px solid #fc7200;

  &.user {
    background-image: url($icons-path + '/user.png');
    // background-image: url($icons-path + '/icono_perfil.svg');

    &.primary {
      background-image: url($icons-path + '/user-primary.png');

      &.solid {
        background-image: url($icons-path + '/user-primary-solid.png');
      }
    }
  }

  &.card-id {
    background-image: url($icons-path + '/card-id.svg');
  }

  &.phoneContact {
    background-image: url($icons-path + '/phoneContact.svg');
  }

  &.locationBussines {
    background-image: url($icons-path + '/locationBussines.svg');
  }

  &.suitcase {
    background-image: url($icons-path + '/suitcase.png');
  }

  &.business {
    background-image: url($icons-path + '/business.svg');

    &.primary {
      background-image: url($icons-path + '/business-primary.png');
    }
  }

  &.alissta-min {
    background-image: url($icons-path + '/alissta-min.png');
  }

  &.gear {
    &.solid {
      background-image: url($icons-path + '/gear-solid.png');
    }
  }

  &.bell {
    background-image: url($icons-path + '/bell.png');
  }

  &.book {
    background-image: url($icons-path + '/book.png');
  }

  &.check {
    background-image: url($icons-path + '/check.png');
  }

  &.info {
    background-image: url($icons-path + '/info.png');
  }

  &.write {
    background-image: url($icons-path + '/write.png');
  }

  &.get-out {
    background-image: url($icons-path + '/get-out.png');
  }
}

/** Íconos **/

fa-icon {
  width: 24px;
  height: 24px;

  &.light {
    color: var(--icon-light);
  }
}

ion-icon {
  &.light {
    color: var(--icon-light);
  }
}

/** Botones **/

.btn {
  //padding: var(--ion-padding, 16px);
  --border-radius: 50px !important;
  height: 48px;
  font-size: 15px;
  outline: none;
  &.primary {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }

  &.transparent {
    background-color: transparent;
    color: var(--ion-color-primary);
  }
}

/** Listas **/

ion-list {
  & ion-list-header {
    font-size: 25px;
    text-align: center;
    padding: 0px;
    &.color-primary {
      --color: var(--ion-color-primary);
    }
  }

  & ion-list-header,
  & ion-item {
    &.separator {
      &.medium {
        border-bottom: 1px solid var(--ion-color-medium);
      }

      &.light {
        border-bottom: 1px solid var(--ion-color-light);
      }
    }
  }
}

/** Ítems **/

ion-item {
  &.p-0 {
    --padding-start: 0;
    --inner-padding-end: 0;
  }
}

/** Título de vista **/

// ion-header {
//   & ion-toolbar {
//     & ion-title {
//       & .title-wrapper {
//         background: url($imgs-path + '/stripe.svg') no-repeat 0 0;

//         & ion-item {
//           --background: transparent;
//         }

//         & ion-img {
//           float: left;
//         }
//       }
//     }
//   }
// }

// Omar
ion-header {
  & ion-toolbar {
    & .header {
      --background: none;
      background: url('/assets/img/stripe.svg');
      opacity: 0.7;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 10px;
      margin: -4px;
      margin-top: -10px;
    }
    & ion-grid {
      padding: 1 0px;
      font-size: 17px;
      color: white;
      font-weight: 600;
    }
  }
}

@media (width: 768px) {
  .header {
    height: 300px !important;
    font-size: 40px;
  }
}

@media (width: 1024px) {
  .header {
    height: 300px !important;
    font-size: 40px;
  }
}

// Estilos Navbar

.iconNavbarPerfil {
  background-image: url($icons-path + '/icono_perfil.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.iconNavbarHome {
  background-image: url($icons-path + '/icono_home.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-left: 50px;
}

.iconNavbarSettings {
  background-image: url($icons-path + '/icono_configuracion.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-right: -100px;
}

.backgroundContent {
  --background: none;
  background-image: url('/assets/img/fondo.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.ion-color-chatgreen {
  --ion-color-base: var(--ion-color-chatgreen);
  --ion-color-base-rgb: var(--ion-color-chatgreen-rgb);
  --ion-color-contrast: var(--ion-color-chatgreen-contrast);
  --ion-color-contrast-rgb: var(--ion-color-chatgreen-contrast-rgb);
  --ion-color-shade: var(--ion-color-chatgreen-shade);
  --ion-color-tint: var(--ion-color-chatgreen-tint);
}

.ion-color-chatblue {
  --ion-color-base: var(--ion-color-chatblue);
  --ion-color-base-rgb: var(--ion-color-chatblue-rgb);
  --ion-color-contrast: var(--ion-color-chatblue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-chatblue-contrast-rgb);
  --ion-color-shade: var(--ion-color-chatblue-shade);
  --ion-color-tint: var(--ion-color-chatblue-tint);
}

.ion-color-chatwhite {
  --ion-color-base: var(--ion-color-chatwhite);
  --ion-color-base-rgb: var(--ion-color-chatwhite-rgb);
  --ion-color-contrast: var(--ion-color-chatwhite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-chatwhite-contrast-rgb);
  --ion-color-shade: var(--ion-color-chatwhite-shade);
  --ion-color-tint: var(--ion-color-chatwhite-tint);
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}
