/** Lugares de la pantalla **/
$slots: top, right, bottom, left;

/** Espaciador **/
$spacer: 1rem;

/** Pasos **/
$pace-0: calc(#{$spacer} * 0);
$pace-1: calc(#{$spacer} * .25);
$pace-2: calc(#{$spacer} * .5);
$pace-3: calc(#{$spacer} * .75);
$pace-4: calc(#{$spacer} * 1);
$pace-5: calc(#{$spacer} * 1.25);

/** Porcentajes **/
$percents: 25,50,75,100;

/** Ruta de íconos personalizados **/
$icons-path: './assets/icon';

/** Ruta de imágenes **/
$imgs-path: './assets/img';

/** Ruta de logos **/
$logos-path: './assets/logos';
