::ng-deep {
  .alert-wrapper {
    --width: calc(100vw - 40px);
    --max-width: calc(100vw - 40px);
  }
}


ion-header{
  ion-grid{
    padding: 0px;
    background: #95a6b1;
    color: white;
    ion-row{
      ion-col{
        padding: 0px;
        background: #95a6b1;
        ion-button{
          --border-radius: 50px;
        }
      }
      ion-toolbar{
        padding: 0px;
      }
    }
  }
}


ion-content{
  ion-grid{
    ion-row{
      ion-col{
        padding: 0px;
        ion-item{
          width: 100%;
          border-radius: 15px;
          font-size: 16.4px;
          font-weight: bold;
          --min-height: 70px;
          ion-thumbnail{
            margin-left: -20px;
            & .imgThumbnail{
              padding: 12px;
              height: 61px;
            }
          }
        }
        ion-button{
          --border-radius: 50px;
        }
      }
    }
  }

  & ion-list {
    background-color: transparent;
  }
}

ion-footer{
  ion-toolbar{
    ion-grid{
      ion-row{
        ion-col{
          ion-button{
            --border-radius: 50px;
          }
        }
      }
    }
  }
}

.btnAdjuntar {
  --background: #516F7A ;
}

.titulo{
  width: 100% !important;
  font-size: 25px !important;
  text-align: left;
  padding: 0px;
  padding-top: 10px;
}