<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-toolbar color="tertiary">
          <ion-buttons slot="start">
            <ion-back-button color="primary" mode="md" defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
      <ion-col size="10">
        <ion-title class="titulo">Adjuntar Archivos</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <!-- Sección Documentos por adjuntar -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item lines="none" color="secondary">
            <ion-label>
              <h2 style="font-size: 20px">Documentos por adjuntar</h2>
              <p style="font-size: 13px; margin: 0; font-weight: 300">
                Muestra los soportes de la actividad
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Lista de fotos adjuntas -->
  <ion-grid *ngIf="listaDocumentos.length > 0">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let listDocumento of listaDocumentos" lines="none">
            <ion-thumbnail slot="start">
              <img *ngIf="listDocumento.foto" [src]="listDocumento.foto.base64Imagen" class="imgMenu" alt="Foto" />
            </ion-thumbnail>
            <ion-label>
              <h3 style="font-weight: bolder">{{listDocumento.tipoArchivo}}</h3>
              <p *ngIf="listDocumento.foto" style="font-size: 15px; font-weight: 300">
                {{listDocumento.foto.idFoto}}.{{listDocumento.foto.format}}
              </p>
            </ion-label>
            <ion-icon slot="end" name="trash" (click)="deletePhoto(listDocumento)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Lista de PDFs adjuntos -->
  <ion-grid *ngIf="filesAdjuntos.length > 0">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let listDocumento of filesAdjuntos" lines="none">
            <ion-thumbnail slot="start">
              <img src="../../../assets/icon/pdf_icon.svg" class="imgMenu" alt="PDF" />
            </ion-thumbnail>
            <ion-label>
              <h3 style="font-weight: bolder">{{listDocumento.tipoArchivo}}</h3>
              <p style="font-size: 15px; font-weight: 300">
                {{listDocumento.documento.file.name}}
              </p>
            </ion-label>
            <ion-icon slot="end" name="trash" (click)="deleteDocs(listDocumento)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Select tipo de soporte -->
  <form [formGroup]="formSupportType">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center">
            <h6>1- Seleccione el tipo de soporte</h6>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-select
            class="custom-select"
            [interfaceOptions]="ALERT_OPTIONS"
            interface="action-sheet"
            mode="ios"
            placeholder="Seleccione el tipo de soporte"
            color="secondary"
            formControlName="type"
            (ionChange)="changeSupport($event)"
            cancelText="Cancelar"
          >
            <ion-select-option *ngFor="let supportType of supportTypeTypes" [value]="supportType.valor">
              {{ supportType.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


  <!-- Botón único de Adjuntar -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center">
          <h6>2- Click en Adjuntar - Seleccionar Archivo</h6>
        </div>
        <ion-button expand="block" color="primary" (click)="adjuntar()">
          <ion-icon slot="start" name="attach-outline"></ion-icon>
          Adjuntar
        </ion-button>

        <!-- input file oculto (solo PDFs) -->
        <input
          #inputFile
          type="file"
          style="display: none"
          (change)="loadImageFromDevice($event)"
          id="file-input"
          accept="application/pdf"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
