ion-header {
  ion-grid {
    padding: 0px;
    background: #95a6b1;
    color: white;
    ion-row {
      ion-col {
        padding: 0px;
        background: #95a6b1;
      }
      ion-toolbar {
        padding: 0px;
      }
    }
  }
}

.visit-selector {
  & .selector-wrapper {
    border: 2px var(--ion-color-primary) solid;

    & .btn {
      padding-left: 50px;
      padding-right: 50px;
      height: 40px;
      outline: none !important;
    }
  }
}

.titulo {
  width: 100% !important;
  font-size: 25px !important;
  text-align: left;
  padding: 0px;
  padding-top: 10px;
}

.positionButton {
  transform: translateY(-200px);
}

ion-fab {
  & ion-button {
    margin-left: -20px;
  }
}
